html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

button {
  font-size: 36px;
  height: 100px;
  width: 150px;
  color: #ffffff;
  background-color: #284eca;
}

button:hover {
  background-color: #1b92a1;
}

button:disabled {
  background-color: grey;
}